## POSTTEST 2 Kecerdasan Buatan
Nama  : Krisdayanti

NIM   : 2009106064

Kelas : KB B1'20

# Import Library

In [1]:
import pandas as pd
import prettytable as pt

In [2]:
df = pd.read_csv("my_dataset/Popular_Movies_TV_shows_from_Prime_Videos_Netflix_version_3.csv")

In [3]:
df.tail(20)

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
24644,24644,24645,Next Enti?,2018,NaN,4.5,29,Drama,1,0
24645,24645,24646,Slam,2008,NaN,5.9,42,Drama,1,0
24646,24646,24647,III Smoking Barrels,2017,NaN,6.6,33,Drama,1,0
24647,24647,24648,Si Doel the Movie 2,2019,NaN,6.9,42,Drama,1,0
24648,24648,24649,Kalki,2018,NaN,6.5,38,Drama,1,0
24649,24649,24650,Bridezilla,2019,NaN,5.8,34,Drama,1,0
24650,24650,24651,Elaan,1971,NaN,6.0,42,Drama,1,0
24651,24651,24652,The International,2009,NaN,6.3,36,Drama,1,0
24652,24652,24653,History of Joy,2017,NaN,5.1,28,Drama,1,0
24653,24653,24654,Himmatwala,2013,NaN,1.7,26,Drama,1,0
24654,24654,24655,S Storm,2016,13+,5.2,29,Drama,1,0
24655,24655,24656,X: Past Is Present,2015,13+,5.3,34,Drama,1,0
24656,24656,24657,Splatter,2015,NaN,3.1,31,Drama,1,0
24657,24657,24658,The Ant's Scream,2011,NaN,6.3,33,Drama,1,0
24658,24658,24659,Hole in the Wall,2017,NaN,7.9,41,Drama,1,0
24659,24659,24660,Mama's Boy,2018,NaN,4.9,33,Drama,1,0
24660,24660,24661,I Am Jonas,2018,NaN,7.0,52,Drama,1,0
24661,24661,24662,An Unremarkable Christmas,2020,NaN,3.6,41,Drama,1,0
24662,24662,24663,BlackRose,2018,NaN,NaN,na,Drama,1,0
24663,24663,24664,A Very Special Drew,2000,NaN,8.0,41,Drama,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24664 entries, 0 to 24663
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24664 non-null  int64
 1   ID                  24664 non-null  int64
 2   Title               24664 non-null  object
 3   Year                24664 non-null  int64
 4   Rating              10029 non-null  object
 5   IMDb                24244 non-null  object
 6   Rotten Tomatoes     24664 non-null  object
 7   Genre               24664 non-null  object
 8   Netflix             24664 non-null  int64
 9   Amazon Prime Video  24664 non-null  int64
dtypes: int64(5), object(5)
memory usage: 1.9+ MB

# Informasi yang diakses
1. Jumlah record
2. Nama attribute
3. Jumlah attribute dengan tipe objek
4. Jumlah attribute dengan tipe angka
5. Jumlah attribute yang memiliki nilai null

### 1. Jumlah Record

In [5]:
total = len(df)
print(total)

24664

### 2. Nama Attribute

In [6]:
nama_atribut = df.columns
print(nama_atribut)

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Rating', 'IMDb',
       'Rotten Tomatoes', 'Genre', 'Netflix', 'Amazon Prime Video'],
      dtype='object')

### Jumlah Attribute

In [7]:
total_atribut = len(df.columns)
print(total_atribut)

10

### 3. Jumlah Attribute dengan tipe Objek

In [8]:
objek = len(df.select_dtypes(include=['object']).columns)
print(objek)

5

### 4. Jumlah Attribute dengan tipe Angka

In [9]:
angka = len(df.select_dtypes(include=['int64','float64']).columns)
print(angka)

5

### 5. Jumlah Attribute yang memiliki nilai Null

In [10]:
Null = len(df.columns[df.isnull().sum() > 0])
print(Null)

2

### Dictionary

In [11]:
dt = {  "Record Dataset \t\t" : total, "Atribut Dataset \t" : nama_atribut, "Jumlah Atribut \t\t" : total_atribut, "Jumlah atribut tipe objek" : objek, "Jumlah atribute tipe angka" : angka, "Jumlah Atribute memiliki null" : Null
}
for key, value in dt.items():
    print(key, ' \t: ', value)

Record Dataset 		  	:  24664
Atribut Dataset 	  	:  Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Rating', 'IMDb',
       'Rotten Tomatoes', 'Genre', 'Netflix', 'Amazon Prime Video'],
      dtype='object')
Jumlah Atribut 		  	:  10
Jumlah atribut tipe objek  	:  5
Jumlah atribute tipe angka  	:  5
Jumlah Atribute memiliki null  	:  2

### Menampilkan :
1. rata-rata
2. standar deviasi
3. nilai minimum
4. nilai maksimum
5. Q1, Q2, dan Q3
dari attribute bertipe angka

In [12]:
df.describe()

,Unnamed: 0,ID,Year,Netflix,Amazon Prime Video
count,24664.000000,24664.000000,24664.000000,24664.000000,24664.000000
mean,12331.500000,12332.500000,2002.311953,0.163193,0.836807
std,7120.027856,7120.027856,21.788365,0.369549,0.369549
min,0.000000,1.000000,1912.000000,0.000000,0.000000
25%,6165.750000,6166.750000,1999.000000,0.000000,1.000000
50%,12331.500000,12332.500000,2012.000000,0.000000,1.000000
75%,18497.250000,18498.250000,2016.000000,0.000000,1.000000
max,24663.000000,24664.000000,2021.000000,1.000000,1.000000

### Menampilkan nilai korelasi

In [13]:
df.corr()

,Unnamed: 0,ID,Year,Netflix,Amazon Prime Video
Unnamed: 0,1.000000,1.000000,0.053521,0.640065,-0.640065
ID,1.000000,1.000000,0.053521,0.640065,-0.640065
Year,0.053521,0.053521,1.000000,0.225056,-0.225056
Netflix,0.640065,0.640065,0.225056,1.000000,-1.000000
Amazon Prime Video,-0.640065,-0.640065,-0.225056,-1.000000,1.000000

### Mengubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma

In [14]:
df["Year"]* 0.001

0        2.019
1        2.019
2        2.019
3        2.019
4        2.019
         ...
24659    2.018
24660    2.018
24661    2.020
24662    2.018
24663    2.000
Name: Year, Length: 24664, dtype: float64

### Menampilkan 10 record pertama dari attribute bertipe angka

In [17]:
data_angka = df.select_dtypes(include=["int64","float64"])
data_angka.head(10)

   Unnamed: 0  ID  Year  Netflix  Amazon Prime Video
0           0   1  2019        0                   1
1           1   2  2019        0                   1
2           2   3  2019        0                   1
3           3   4  2019        0                   1
4           4   5  2019        0                   1
5           5   6  2019        0                   1
6           6   7  2020        0                   1
7           7   8  2020        0                   1
8           8   9  2012        0                   1
9           9  10  2019        0                   1

### Menyimpan dataset dengan attribute bertipe angka ke dalam file CSV

In [18]:
data_angka.to_csv('data_angka.csv', index=False)