## POSTTEST 8 Kecerdasan Buatan
Nama : Krisdayanti

NIM : 2009106064

Kelas : KB B1'20

### Import Library

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.utils import to_categorical

### Import & Read Dataset

In [2]:
ds = pd.read_csv('my_dataset\Earthquakes in Indonesia.csv')

In [3]:
ds.columns

Index(['lat', 'lon', 'depth', 'mag', 'remark', 'strike1', 'dip1', 'rake1',
       'strike2', 'dip2', 'rake2'],
      dtype='object')

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   lat      2356 non-null   float64
 1   lon      2356 non-null   float64
 2   depth    2356 non-null   int64
 3   mag      2356 non-null   float64
 4   remark   2356 non-null   object
 5   strike1  80 non-null     float64
 6   dip1     80 non-null     float64
 7   rake1    80 non-null     float64
 8   strike2  80 non-null     float64
 9   dip2     80 non-null     float64
 10  rake2    80 non-null     float64
dtypes: float64(9), int64(1), object(1)
memory usage: 202.6+ KB

### Transformasi Dataset

In [5]:
ds['remark'] = ds['remark'].replace(['Aru Islands Region - Indonesia', 'Bali Region - Indonesia', 'Halmahera - Indonesia',
                                   'Irian Jaya - Indonesia', 'Irian Jaya Region - Indonesia', 'Minahassa Peninsula - Sulawesi',
                                   'Mindanao - Philippines', 'Near North Coast of Irian Jaya', 'South of Bali - Indonesia',
                                   'Southern Molucca Sea'],
                                    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]) #melakukan tranformasi data

### standarisasi dataset

In [6]:
std_scaler = StandardScaler()

### Data Split

In [7]:
X = ds[['lat', 'lon', 'depth', 'mag', 'strike1', 'dip1', 'rake1', 'strike2', 'dip2', 'rake2']] #data
Y = ds['remark'] #label

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state = True, test_size=.2) #Membagi data untuk data traininf dan data testing

In [9]:
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical

In [10]:
print(f'panjang x train : {len(x_train)}\n',
f'panjang y train : {len(y_train)}\n',
f'panjang x test : {len(x_test)}\n',
f'panjang y test : {len(y_test)}\n')

panjang x train : 1884
 panjang y train : 1884
 panjang x test : 472
 panjang y test : 472

### Melihat shape x_train & x_test

In [11]:
print('x_train shape:', x_train.shape)
print('x_test shape:', x_test.shape)

x_train shape: (1884, 10)
x_test shape: (472, 10)

### Deklarasi y_train & y_test

In [12]:
num_class = 12
y_train = tf.keras.utils.to_categorical(y_train, num_class)
y_test = tf.keras.utils.to_categorical(y_test, num_class)

In [13]:
x_train = tf.reshape(x_train, [1884, 10])
x_test = tf.reshape(x_test, [472, 10])

### Membuat Sequential Model

In [14]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [15]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_dim=10),
    tf.keras.layers.Dense(num_class, activation='softmax')
])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                176

 dense_1 (Dense)             (None, 12)                204

=================================================================
Total params: 380
Trainable params: 380
Non-trainable params: 0
_________________________________________________________________

### Optimalisasi dengan menggunakan optimizer, model adam dan loss menggunakan categorical

In [16]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(),
    loss=tf.keras.losses.categorical_crossentropy,
    metrics=['accuracy']
)

### training data dengan epochs=10 dan steps per epoch=25

In [17]:
history = model.fit(
    x = x_train,y =  y_train,
    epochs = 10, 
    steps_per_epoch = 25,
    #verbose = 2
    validation_data=(x_test, y_test)
)

Epoch 1/10
25/25 [==============================] - 2s 29ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 2/10
25/25 [==============================] - 0s 13ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 3/10
25/25 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 4/10
25/25 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 5/10
25/25 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 6/10
25/25 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 7/10
25/25 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 8/10
25/25 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 9/10
25/25 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042
Epoch 10/10
25/25 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.0011 - val_loss: nan - val_accuracy: 0.0042

### Akurasi Dataset

In [18]:
score = model.evaluate(x_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Test loss: nan
Test accuracy: 0.0042372881434857845